$color-text-dark-primary: rgba(0, 0, 0, 0.87);
$color-text-dark-secondary: rgba(0, 0, 0, 0.54);
$color-text-footer: rgb(87, 99, 134);
$color-text-dark-hint: rgba(0, 0, 0, 0.38);
$color-text-light-primary: #fff;
$color-text-light-secondary: rgba(250, 250, 250, 1.0);
$color-text-light-hint: rgba(255, 255, 255, 0.5);

$font-family-monospace: GungsuhChe, "Liberation Mono", monospace;

$width-gutter: 24px;
$width-screen-extra-small-maximum: 767px;
$width-screen-small-minimum: $width-screen-extra-small-maximum + 1;
