.header {
  background-image: url(../images/artwork2.jpg);
  background-size: contain;
  background-position: center;

  &-description {
    color: $color-text-light-secondary;
    font-size: 1.2rem;
  }

  &-heading {
    color: $color-text-light-primary;
    text-shadow: 0 2px 6px rgb(37, 37, 37);
    font-size: 2.8rem;
    font-weight: 500;

    a {
      &,
      &:active,
      &:focus,
      &:hover {
        color: inherit;
      }
    }
  }

  &-overlay {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    padding-bottom: 70px;
    padding-top: 70px;
  }
}
